{% extends 'basePelatih.html' %}
{% load static %}

{% block meta %}
<title>Daftar Atlet</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Daftar Atlet</h1>
            <hr>
            <div class="col">
                <p class="font-p">Atlet yang mau ditambahkan: </p>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <select name="nama_atlet" class="form-select" aria-label="atlet">
                        {% for a in data_atlet.atlet %}
                        <option selected>{{a.nama}}</option>
                        {% endfor %}
                    </select>
                </div>
                    <button type="submit" class="btn btn-outline-primary mt-3">
                        Submit
                    </button>
                </form>
            
        </div>
        </div>
</div>
{% endblock content %}