{% extends 'basePelatih.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded " style="width: 24rem;" >
        <div class="card-body">
            <h1 class="card-title font-h">Profile</h1>
            <form method="POST" action="">
                <div class="col mb-2">
                    <h4 class="font-h"> {{ Nama_Lengkap }} </h4>
                    <hr>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Email </strong> {{ Email }}</p>
                </div>
                <div class="col mb-2">
                    <strong class="font-p">Spesialisai Kategori </strong>
                </div>
                <div class="col mb-2">
                    {% for ctx in Spesialisasi %}
                    <p class="font-p"> {{ ctx.spesialisasi }} </p>
                    {% endfor %}
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Tanggal Mulai </strong> {{ Tanggal_Mulai }}</p>
                </div>
            </form>
        </div>
        </div>
</div>
{% endblock content %}