{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Registrasi Atlet</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded" style="width: 28rem;">
        <div class="card-body">
            <h1 class="card-title font-h">Registrasi Atlet</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="col mb-1">
                    <label class="form-label font-p">Nama</label>
                    {{ form.nama }}
                </div>
                <div class="col mb-1">
                    <label class="form-label font-p">Email</label>
                    {{ form.email }}
                </div>
                <div class="col mb-1">
                    <label class="form-label font-p">Negara</label>
                    {{ form.negara_asal }}
                </div>
                <div class="col mb-1">
                    <label class="form-label font-p">Tanggal Lahir</label>
                    {{ form.tgl_lahir }}
                </div>
                <div class="col">
                    <label class="form-label font-p">Play</label>
                    {{ form.play_right }}
                    <hr>
                </div>
                <div class="col mb-1">
                    <label class="form-label font-p">Tinggi Badan</label>
                    {{ form.height }}
                </div>
                <div class="col">
                    <label class="form-label font-p">Jenis Kelamin</label>
                    {{ form.jenis_kelamin }}
                    <hr>
                </div>
                <div class="col mb-1">
                    <input class="btn btn-primary font-p" type="submit">
                </div>
            </form>
        </div>
        </div>
</div>
{% endblock content %}