@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Roboto:wght@300;400&display=swap');

.font-h{
    font-family: 'Archivo', sans-serif;
}

.font-p{
    font-family: 'Roboto', sans-serif;
}

.btn{
    font-family: 'Roboto', sans-serif; 
}