{% extends 'baseUmpire.html' %}
{% load static %}

{% block meta %}
<title>Hasil Pertandingan</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center mt-4">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Hasil Pertandingan</h1>
            <hr>
            {% for d in detail.detail %}
            <!-- <div class="col mb-2">
              <h4 class="font-h">{{d.nama_event}}</h4>
              <hr>
            </div> -->
            <div class="col mb-2">
              <p class="font-p"><strong class="font-p">Nama Event: </strong> {{d.nama_event}}</p>
          </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Stadium: </strong> {{d.nama_stadium}}</p>
            </div> 
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Hadiah: </strong> Rp{{d.total_hadiah}}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Kategori Superseries: </strong> {{d.kategori_superseries}}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Tanggal Mulai: </strong> {{d.tgl_mulai}}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Tanggal Selesai: </strong> {{d.tgl_selesai}}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Kapasitas: </strong> {{d.kapasitas}}</p>
            </div>
            {% endfor %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Juara</th>
                    <th scope="col">Nama Tim</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Juara 1</td>
                    <!-- <td>A</td> -->
                  </tr>
                  <tr>
                    <td>Juara 2</td>
                    <!-- <td>G</td> -->
                  </tr>
                  <tr>
                    <td>Juara 3</td>
                    <!-- <td>D</td> -->
                  </tr>
                  <tr>
                    <td>Semifinal</td>
                    <!-- <td>E</td> -->
                  </tr>
                  <tr>
                    <td>Perempat Final</td>
                    <!-- <td>
                        <div class="row">
                            <p>C</p>
                        </div>
                        <div class="row">
                            <p>F</p>
                        </div>
                        <div class="row">
                            <p>B</p>
                        </div>
                        <div class="row">
                            <p>H</p>
                        </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}