{% extends 'baseUmpire.html' %}
{% load static %}

{% block meta %}
<title>List Event</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">List Event</h1>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama Event</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Stadium</th>
                    <th scope="col">Jenis Partai</th>
                    <th scope="col">Kategori Superseries</th>
                    <th scope="col">Tanggal Mulai</th>
                    <th scope="col">Tanggal Selesai</th>
                    <th scope="col">Kapasitas</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  {% for prtdg in data.event %}
                  <tr>
                    <td>{{ prtdg.nama_event }}</td>
                    <td>{{ prtdg.tahun }}</td>
                    <td>{{ prtdg.nama_stadium }}</td>
                    <td>{{ prtdg.jenis_partai }}</td>
                    <td>{{ prtdg.kategori_superseries }}</td>
                    <td>{{ prtdg.tgl_mulai }}</td>
                    <td>{{ prtdg.tgl_selesai }}</td>
                    <td>{{ prtdg.kapasitas_pendaftar }}/{{ prtdg.kapasitas }}</td>
                    {% if prtdg.kapasitas_pendaftar == prtdg.kapasitas %}
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a onclick="location.href='/umpire/pertandingan/{{prtdg.nama_event}}/'"class="text-white">Mulai</a>
                        </button>
                        <p>&nbsp;</p>
                        <button type="button" class="btn btn-primary">
                          <a onclick="location.href='/umpire/hasil_pertandingan/{{prtdg.nama_event}}/{{prtdg.tahun}}/'"class="text-white">Hasil Pertandingan</a>
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary">
                          <a onclick="location.href='/umpire/hasil_pertandingan/'"class="text-white">Hasil</a>
                      </button>
                  </td>
                    {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}