{% extends 'baseUmpire.html' %}
{% load static %}

{% block meta %}
<title>List Atlet</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Daftar Atlet</h1>
            <hr>
            <h3 class="card-title font-h">Atlet Kualifikasi</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">Negara Asal</th>
                    <th scope="col">Play Right</th>
                    <th scope="col">Height</th>
                    <th scope="col">World Rank</th>
                    <th scope="col">World Tour Rank</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Total Point</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ak in data_ak.atlet_kualifikasi %}
                  <tr>
                    <td class="font-p" scope="col">{{ak.nama}}</td>
                    <td class="font-p" scope="col">{{ak.tgl_lahir}}</td>
                    <td class="font-p" scope="col">{{ak.negara_asal}}</td>
                    <td class="font-p" scope="col">{{ak.play_right}}</td>
                    <td class="font-p" scope="col">{{ak.height}}</td>
                    <td class="font-p" scope="col">{{ak.world_rank}}</td>
                    <td class="font-p" scope="col">{{ak.world_tour_rank}}</td>
                    <td class="font-p" scope="col">{{ak.jenis_kelamin}}</td>
                    <td class="font-p" scope="col">{{ak.total_point}}</td>
                  {% endfor %}
                  </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
              <h3 class="card-title font-h">Atlet Non-Kualifikasi</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nama</th>
                      <th scope="col">Tanggal Lahir</th>
                      <th scope="col">Negara Asal</th>
                      <th scope="col">Play Right</th>
                      <th scope="col">Height</th>
                      <th scope="col">World Rank</th>
                      <th scope="col">Jenis Kelamin</th>
                      <th scope="col">Total Point</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ank in data_ank.atlet_non_kualifikasi %}
                    <tr>
                      <td class="font-p" scope="col">{{ank.nama}}</td>
                      <td class="font-p" scope="col">{{ank.tgl_lahir}}</td>
                      <td class="font-p" scope="col">{{ank.negara_asal}}</td>
                      <td class="font-p" scope="col">{{ank.play_right}}</td>
                      <td class="font-p" scope="col">{{ank.height}}</td>
                      {% if ank.world_rank == NULL %}
                      <td class="font-p" scope="col">-</td>
                      {% endif %}
                      <td class="font-p" scope="col">{{ank.jenis_kelamin}}</td>
                      {% if ank.total_point == NULL %}
                      <td class="font-p" scope="col">0</td>
                      {% endif %}
                    {% endfor %}
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 class="card-title font-h">Atlet Ganda</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID Atlet Ganda</th>
                        <th scope="col">Nama Atlet 1</th>
                        <th scope="col">Nama Atlet 2</th>
                        <th scope="col">Total Point</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for ag in data_ag.atlet_ganda %}
                      <tr>
                        <td class="font-p" scope="col">{{ag.id_atlet_ganda}}</td>
                        <td class="font-p" scope="col">{{ag.nama_atlet_kualifikasi}}</td>
                        <td class="font-p" scope="col">{{ag.nama_atlet_kualifikasi_2}}</td>
                        <td class="font-p" scope="col">{{ag.total_point}}</td>
                      {% endfor %}  
                    </tr>
                    </tbody>
                </table>
        </div>
        </div>
</div>
{% endblock content %}