{% extends 'baseUmpire.html' %}
{% load static %}

{% block meta %}
<title>Daftar Atlet</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center mt-4">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">DAFTAR ATLET</h1>
            <hr>
            <h4 class="font-h">ATLET KUALIFIKASI</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">Negara Asal</th>
                    <th scope="col">Play Right</th>
                    <th scope="col">Height</th>
                    <th scope="col">World Rank</th>
                    <th scope="col">World Tour Rank</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Total Point</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ak in data_ak.atlet_kualifikasi %}
                  <tr>
                    <td>{{ak.nama}}</td>
                    <td>{{ak.tgl_lahir}}</td>
                    <td>{{ak.negara_asal}}</td>
                    <td>{{ak.play_right}}</td>
                    <td>{{ak.height}}</td>
                    <td>{{ak.world_rank}}</td>
                    <td>{{ak.world_tour_rank}}</td>
                    <td>{{ak.jenis_kelamin}}</td>
                    <td>{{ak.total_point}}</td>
                  {% endfor %}
                  </tr>
                </tbody>
              </table>
            <p>&nbsp;</p>
            <h4 class="font-h">ATLET NON-KUALIFIKASI</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">Negara Asal</th>
                    <th scope="col">Play Right</th>
                    <th scope="col">Height</th>
                    <th scope="col">World Rank</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Total Point</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ank in data_ank.atlet_non_kualifikasi %}
                  <tr>
                    <td>{{ank.nama}}</td>
                    <td>{{ank.tgl_lahir}}</td>
                    <td>{{ank.negara_asal}}</td>
                    <td>{{ank.play_right}}</td>
                    <td>{{ank.height}}</td>
                    {% if ank.world_rank == NULL %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ank.jenis_kelamin}}</td>
                    {% if ank.total_point == NULL %}
                    <td>0</td>
                    {% endif %}
                  {% endfor %}
                  </tr>
                </tbody>
              </table>
            <p>&nbsp;</p>
            <h4 class="font-h">ATLET GANDA</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID Atlet Ganda</th>
                    <th scope="col">Nama Atlet 1</th>
                    <th scope="col">Nama Atlet 2</th>
                    <th scope="col">Total Point</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td>a12310c-1a26-4468-asde-dd56c14d0753</td>
                    <td>Apriyani Rahayu</td>
                    <td>Siti Fadia</td>
                    <td>121222</td>
                  </tr> -->
                  {% for ag in data_ag.atlet_ganda %}
                  <tr>
                    <td>{{ag.id_atlet_ganda}}</td>
                    <td>{{ag.nama_atlet_kualifikasi}}</td>
                    <td>{{ag.nama_atlet_kualifikasi_2}}</td>
                    <td>{{ag.total_point}}</td>
                  {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}