{% extends 'baseAtletKualifikasi.html' %}
{% load static %}

{% block meta %}
<title>Pilih Kategori</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Pilih Kategori</h1>
            <hr>
            <div class="col mb-2">
              <h4 class="font-h">{{ data.detail.nama_event }}</h4>
              <hr>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Hadiah </strong> Rp{{ data.detail.total_hadiah }}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Tanggal Mulai </strong> {{ data.detail.tgl_mulai }}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Tanggal Selesai </strong> {{ data.detail.tgl_selesai }}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Kategori </strong> {{ data.detail.kategori_superseries }}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Kapasitas </strong> {{ data.detail.kapasitas }}  orang atau pasangan / partai</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Stadium </strong> {{ data.detail.nama_stadium }}</p>
            </div>
            <div class="col mb-2">
                <p class="font-p"><strong class="font-p">Negara </strong> {{ data.detail.negara }}</p>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Kategori</th>
                    <th scope="col">Partner</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                <form method="POST" action="">
                  {% for prdtg in data.pertandingan %}
                  <tr>
                    <td>{{ prdtg.Partai }}</td>
                    {% if prdtg.Partner == '-' %}
                    <td>{{ prdtg.Partner }}</td>
                    {% else %}
                    <td>
                        <div class="form-floating">
                            <input type="hidden" name="jenis_partai" value= "{{prdtg.Partai}}" >

                            <select class="form-select" id="floatingSelect" aria-label="Partner">
                            {% for prtnr in prdtg.Partner %}
                              <option selected>{{ prtnr }}</option>
                            {% endfor %}
                            </select>
                            <label for="floatingSelect">Partner</label>
                          </div>
                    </td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a href="#" class="text-white">Pilih</a>
                        </button>
                    </td>
                  </tr>
                  {% endfor %}
                </form>
                  <!-- <tr>
                    <td>Ganda Putra</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle font-p" data--bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 15rem;">
                                Pasangan
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">aaaaa</a>
                                <a class="dropdown-item" href="#">bbbbb</a>
                                <a class="dropdown-item" href="#">ccccc</a>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a href="#" class="text-white">Pilih</a>
                        </button>
                  </tr> -->
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}