{% extends 'baseAtletKualifikasi.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded " style="width: 24rem;" >
        <div class="card-body">
            <h1 class="card-title font-h">Profile</h1>
                <div class="col mb-2">
                    <h4 class="font-h">{{ Nama_Lengkap }}</h4>
                    <hr>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Negara </strong> {{ Negara }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Email </strong> {{ Email }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Tanggal Lahir </strong> {{ Tanggal_Lahir }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Play </strong> {{ Play }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Tinggi Badan </strong> {{ Tinggi_Badan }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Jenis Kelamin </strong> {{ Jenis_Kelamin }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Pelatih </strong> {{ Pelatih }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Status </strong> {{ Status }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">World Rank </strong> {{ World_Rank }}</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Total Poin </strong> {{ Total_Poin }}</p>
                </div>
        </div>
        </div>
</div>
{% endblock content %}