{% extends 'baseAtletKualifikasi.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded " style="width: 24rem;" >
        <div class="card-body">
            <h1 class="card-title font-h">Profile</h1>
                <div class="col mb-2">
                    <h4 class="font-h">Praktikno Subagyo</h4>
                    <hr>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Negara </strong> Indonesia</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Email </strong> Prasuk@gmail.com</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Tanggal Lahir </strong> 16 Agustus 2000</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Play </strong> Right</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Tinggi Badan </strong> 180 cm</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Jenis Kelamin </strong> Laki-Laki</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Pelatih </strong> -</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Status </strong> Not qualified</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">World Rank </strong> -</p>
                </div>
                <div class="col mb-2">
                    <p class="font-p"><strong class="font-p">Total Poin </strong> 0</p>
                </div>
        </div>
        </div>
</div>
{% endblock content %}