{% extends 'baseAtletKualifikasi.html' %}
{% load static %}

{% block meta %}
<title>Enrolled Partai Event</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Event yang diikuti</h1>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama Event</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Stadium</th>
                    <th scope="col">Jenis Partai</th>
                    <th scope="col">Kategori Superseries</th>
                    <th scope="col">Tanggal Mulai</th>
                    <th scope="col">Tanggal Selesai</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in data %}
                  <tr>
                    <td>{{ event.nama_event }}</td>
                    <td>{{ event.nama_stadium }}</td>
                    <td>{{ event.jenis_partai }}</td>
                    <td>{{ event.kategori_superseries }}</td>
                    <td>{{ event.tgl_mulai }}</td>
                    <td>{{ event.tgl_selesai }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}