{% extends 'baseAtletKualifikasi.html' %}
{% load static %}

{% block meta %}
<title>Pilih Stadium</title> 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-body rounded ">
        <div class="card-body">
            <h1 class="card-title font-h">Daftar Event</h1>
            <hr>
            <table class="table">
                <thead class="font-p">
                  <tr>
                    <th scope="col">Nama Stadium</th>
                    <th scope="col">Negara</th>
                    <th scope="col">Kapasitas</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  {% for std in data.stadium %}
                  <tr>
                    <td>{{ std.nama }}</td>
                    <td>{{ std.negara }}</td>
                    <td>{{ std.kapasitas }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a onclick="location.href='/atlet/pilih_event/{{std.nama}}/'" class="text-white">Pilih</a>
                        </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        </div>
</div>
{% endblock content %}