{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link 
      rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>  
  <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand font-h" href="#">BaBadu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active font-h" aria-current="page" href="{% url 'pelatih:dashboard_pelatih' %} ">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle font-p" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Latih Atlet
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item font-p" href="{% url 'pelatih:daftar_atlet' %}">Create Latih Atlet</a></li>
                <li><a class="dropdown-item font-p" href="{% url 'pelatih:list_atlet' %}">List Atlet Dilatih</a></li>
              </ul>
            </li>
          </ul>
          <button type="button" class="btn btn-primary">
              <a href="{% url 'autentikasi:logout' %} " class="text-white">Log out</a>
          </button>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}
</body>

</html>
